*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header {
    height: 20vh;
    width: auto;
    background-color: #196E5C;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & img{
        background-color: #000;
        border-radius: 1vw;
        width: 5.5vw;
        cursor: pointer;
    }

    & a {
        color: #fff;
        font-size: 2vh;
        text-decoration: none;
        margin-left: 20vw;
    }
}

footer {
    height: 25vh;
    width: auto;
    background-color: #000;
    margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .p{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

    
        & p {
        color: #fff;
        font-size: 3vh; 
        }
    }

    & img {
        width: 5vh;
        position: relative;
        right: 35vw;
        margin-right: 1vw;
    }
}